<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>53590807308-0vdig3qu3k0gmabmg2c76bb4lgkv3286.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAFguYYrDIlCnD25y-0eJ1OYSupHFj7mIo</string>
	<key>GCM_SENDER_ID</key>
	<string>53590807308</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jsalab.votocerto</string>
	<key>PROJECT_ID</key>
	<string>candsysvoto</string>
	<key>STORAGE_BUCKET</key>
	<string>candsysvoto.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:53590807308:ios:94b1d5f303627320ac6f29</string>
</dict>
</plist>